/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:auto;
    scroll-padding-top:3rem;
    list-style: none;
    text-decoration: none;
}

:root {
    --hoockers-green_20: hsla(148, 38%, 25%, 0.2);
--pale-spring-bud: hsl(60, 68%, 85%);
--hoockers-green: hsl(148, 20%, 38%);
--spanish-gray: hsl(0, 0%, 61%);
--light-gray: hsl(0, 0%, 80%);
--cultured-1: hsl(0, 0%, 97%);
--cultured-2: hsl(60, 6%, 93%);
--gray-web: hsl(0, 0%, 49%);
--white_30: hsl(0, 0%, 100%, 0.3);
--black_70: hsla(0, 0%, 0%, 0.7);
--black_50: hsla(0, 0%, 0%, 0.5);
--black_15: hsla(0, 0%, 0%, 0.15);
--black_10: hsla(0, 0%, 0%, 0.1);
--black_5: rgba(131, 34, 34, 0.05);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#060606;
    --bg-color:#fff;
    --copy-color:#ee2050;
    --line-color:#24273e;
--green:#AFE1AF;
--green1:#355E3B;
--green2:#40826D;



    /*gradient*/
    --gradient: linear-gradient(to right, transparent 50%, var(-white_36) 100%);

    /*typography*/
    --ff-urbanist: 'Urbanist', sans-serif;

--fs-1: 4.8rem;
--fs-2: 4rem;
--fs-3: 3.4rem;
--fs-4: 2.4rem;
--fs-5: 2rem;
--fs-6: 1.8rem;
--fs-7: 1.5rem;
--fs-8: 1.4rem;
--fs-9: 1.3rem;

--fw-400: 400;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
--fw-800: 800;

    /*spacing*/
    --section-padding: 35px;

    /*shadow*/
    --shadow-1: 0 8px 16px var(--black_15);
--shadow-2: 0 4px 10px var(--black_5);

/*border radius*/
--radius-3: 3px;

/*transition*/
--transition-1: 0.25s ease;
--transition-2: 0.5s ease;
--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

/*box shadow */
--box-shadow: 2px 2px 18px rgb(14 52 54/ 15%);

}
    img{
        width: 100%;
    }
    
    body{
        color: var(--text-color);
    }
    section{
        padding: 4.5rem 0 3rem;
    }
    .container{
        max-width: 1068px;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        display: block;
        width: 100%;
        background: var(--green2);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 35px;
    }
    .logo{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;
    }
    .logo.bx{
        font-size: 24px;
        color: var(--white);
    }
    .navbar
{
    display: flex;
}
.navbar a{
    padding: 20px 8px;
    color: var(--text-color);
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;

}
#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    background: var(--copy-color);
    color: var(--bg-color);
    border-radius: 2rem;

}

.btn:hover{
    background: var(--copy-color);
    }
    /* home*/
    .home{
        margin-top: 5rem;
        background: url(img/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 440px;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
    }
    .home-text {
        padding-left: 35px;
    }
    .home-text h1{
        color: var(--hoockers-green);
        font-size: 2rem;
        margin-bottom: 1rem;   
    }
    .about{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
        gap: 2rem;
     }
     .about-img img{
            border-radius: 3rem 0 3rem 3rem;
     }
     .about-text span{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--main-color);
     }
     .about-text h2{
        font-size: 1rem;
     }
     .about-text p{
        font-size: 0.5rem;
        margin: 1rem 0 1rem;
        padding-bottom: -1rem;
     }
     .learn{
        font-size: 0.8rem;
     }
     .product{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,auto));
        gap: 2.4rem;
     }
     .product .box{
        padding: 20px;
        background: var(--bg-color);
        box-shadow:var(--box-shadow);
        text-align: center;
        border-radius: 2rem;
     }
     .product .box:hover{
        background: var(--main-color);
        color: var(--bg-color);
        transition: 0.6s all linear;
     }
     .product .box .bx{
        padding: 10px;
        border-radius: 50%;
        background: #f6f6fe;
        color: var(--main-color);
        font-size: 20px;
     }
     .product .box h3{
        font-size: 1.1rem;
        margin: 1rem 0 0.4rem;
        color: black;
     }
     .product .box p{
        font-size: 00.938rem;
     }
     .loginbx{
        font-size: 0.5rem;
     }

/*features*/
     
    .heading{
        text-align: center;
        margin-bottom: 2rem;
    }
    .heading span{
        font-weight:500 ;
        color: var(--main-color);
    }
    .heading h2{
        font-size: 1.7rem;
    }
    .heading p{
        font-size: 0.938rem;
    }
    .services{
        background:#fbfbfb ;
        border-radius: 2rem;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,auto));
        gap: 3rem;
        padding: 0 50px;
    }
    .services-container .box{
        background: var(--bg-color);
        padding: 10px;
        border-radius: 1.5rem;
        box-shadow: var(--box-shadow);
    }
    .services-container .box:hover{
        transform: translateY(-10px);
        transition: 1s;

    }   
     .services-container .box img{
        border-radius: 1rem;
        height: 180px;
        object-fit:cover;
        object-position: center;

     }
.services-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    
    


}
.services-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}



.services-container .box .content .text  p{
    font-size: 0.8rem;
    font-weight: 500;
   
}

.services-container .box .content .icons {
   display: flex;
   align-items: center;
   column-gap: 1rem;
}

.services-container .box .content .icons .bx{
    display: flex;
    align-items: center;
    font-size: 20px;

}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;

}
.newsletter h2{
    font-size: 1.7rem;

}
.newsletter form{
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    padding: 6px 10px;
    border-radius: 5rem;


}
.newsletter form input{
    border:none ;
    outline: none;
    font-size: 1rem;

}
.newsletter #email-box{
    width: 280px;
}
.newsletter .btn{
    padding: 12px 34px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer{
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem 0 0 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1rem;
}
.footer-container h2{
    font-size: 1rem;
    font-weight: 500;

}
.footer-box{
    display: flex;
    flex-direction: column;

}
.footer-box h3{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.footer-box a{
    font-size: 0.5rem;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.footer-box a:hover{
    color: var(--text-color);
}

.social{
    font-size: 20px;
    margin-right: 1rem;
}

.social a:hover{
color: var(--second-color);
}

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--green2);
    font-size: 0.5rem;
}

/* login*/
.login{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}

.login-container{
display: flex;
flex-direction: column;
row-gap: 1rem;
border-radius: 1rem;
}
.login-container h2{
    font-size: 1rem;
    
}
.login-container p{
    font-size: 1rem;
}
.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container form span{
font-size: 0.85rem;
color: #8a8a8a;
margin-bottom: 4px;
}

.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}
.login-container form .button{
    outline: none;
    border-radius: 1rem;
    background: var(--white);
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;    
} 
.login-container form .button:hover{
    background: #3492fd;

}
.login-container form a{
    font-size: 0.9rem;
    text-align: right;
}
.login-container .btn{
    border-radius: 1rem;
    text-align: center;
    
}
.signup{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}

/* REPAIR */

.bg{
    margin-top: 5rem;
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:unset;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.bg span{
    font-weight:500 ;
    color: var(--main-color);
}
.bg-text {
    
    margin-bottom: 2rem;
    text-align:center;
    text-shadow: #314862;
}
.bg-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;   
}
 .bg .container{
    border-radius: 1.5 rem;
 }
 .bg .container controls{
    border-radius: 5rem;

 }
 .dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border:no;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2980b9;
}

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

.feature {
    display: grid;
    text-decoration-skip: center; }

.feature .section-title { margin-block-end: 40px; }

.feature-card .card-icon {
  width: 100px;
  margin-inline: auto;
}

.feature-card .card-title { margin-block: 35px 15px; }

.feature-card .card-text { font-size: var(--fs-7); }



/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner-list {
    display: grid;
    gap: 30px;
  }
  
  .banner-card {
    min-height: 420px;
    padding: 30px;
  }
  
  .banner-card .card-subtitle {
    color: var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .banner-card :is(.card-subtitle, .card-title) { text-shadow: 0 0 2px var(--cultured-2); }
  
  .banner-card-1 .card-title { margin-block: 10px 30px; }
  
  .banner-card .card-text {
    color: var(--black);
    font-size: var(--fs-7);
    margin-block: 10px 25px;
  }
  .hero-card {

    background-color: var(--light-gray);
    padding: 100px 15px;
    background-position: 40%;
  }
  
  .hero-text {
    font-size: var(--fs-6);
    margin-block: 16px 30px;
  }
  
  .hero .price {
    color: var(--black);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-block-end: 20px;
  }
  
  .hero .scrollbar-item { min-width: 100%; }
  